@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');

.now{
  font-family: 'Kaushan Script', cursive;
  font-size: 4vmin;
}
span{
  color: green;
}
.buton{
  border-radius: 7px;
  background-color: rgb(0, 162, 255);
  margin-bottom: 6px;
}
.butonn{
  border-radius: 7px;
  background-color: rgb(102, 255, 0);
  margin-bottom: 12ng serve
  px;
}
